@{
    ViewData["Title"] = "Inicio";
}


@*<header>
        <div class="header-background"></div>
        <div class="header-overlay"></div>
        <div class="container">
            <div class="table">
                <div class="header-text">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1 class="white">Adonis</h1>
                            <h3 class="white">Bootstrap for Agencies</h3>
                            <a class="page-scroll btn btn-default" href="#services" role="button">Our Services</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>*@

<header>


    <div class="homepage-hero-module">
        <div class="video-container">
            <div class="container">
                <div class="table">
                    <div class="header-text">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h1 class="white">Breiner Gonzalez Angarita</h1>
                                <h3 class="white">Perfil Web</h3>
                                <a class="page-scroll btn btn-default" href="#services" role="button">Servicios</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter"></div>
            <video autoplay loop class="fillWidth">
                <source src="~/img/stars.mp4" type="video/mp4" />
                @*<source src="http://dfcb.github.io/BigVideo.js/vids/dock.mp4" type="video/mp4" />*@Your browser does not support the video tag. I suggest you upgrade your browser.
            </video>

        </div>
    </div>
</header>

<br />

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading">Servicios</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row services">
            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                <div class="service-box">
                    <div class="service-icon">
                        <i class="fa fa-pencil"></i>
                    </div>
                    <h3>CMS</h3>
                    <p class="text-muted">Desarrollo de aplicativos Web tipo ecommerce bajo los CMS Wordpress, PrestaShop, DotNetNuke, entre otros.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                <div class="service-box">
                    <div class="service-icon">
                        <i class="fa fa-code" data-wow-delay=".1s"></i>
                    </div>
                    <h3>Desarrollo</h3>
                    <p class="text-muted">Desarrollo de aplicativos front-end y backend bajo ASP.Net MVC 5,  ASP.NET Core 1.0, Microsoft Azure, SQL Server, Oracle, NodeJS, Bootstrap.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                <div class="service-box">
                    <div class="service-icon">
                        <i class="fa fa-globe" data-wow-delay=".3s"></i>
                    </div>
                    <h3>GIS</h3>
                    <p class="text-muted">Desarrollo de plataformas de representación geografia en la nube.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="scroll">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading">Herramientas</h1>
            </div>
        </div>
    </div>

    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/ASP-NET-Banners-01.png" alt="ASP.NET" class="img-responsive" />
                <div class="carousel-caption">
                    <p>
                        Desarrollo de aplicaciones ASP.NET que se pueden ejecutar en cualquier lugar.
                        <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                            Leer mas
                        </a>
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="~/images/Banner-02-VS.png" alt="Visual Studio" class="img-responsive" />
                <div class="carousel-caption">
                    <p>
                        Uso de nuevas características mejoradas de Visual Studio para la creación de modernas web apps.
                        <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                            Leer mas
                        </a>
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="~/images/ASP-NET-Banners-02.png" alt="Package Management" class="img-responsive" />
                <div class="carousel-caption">
                    <p>
                        Uso de bibliotecas NuGet, Bower y NPM, para automatizar tareas utilizando Grunt or Gulp.
                        <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                            Leer mas
                        </a>
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="~/images/Banner-01-Azure.png" alt="Microsoft Azure" class="img-responsive" />
                <div class="carousel-caption">
                    <p>
                        Desarrollos utilizando Microsoft's Azure cloud platform, para desarrollar e implementar aplicaciones web escalables.
                        <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                            Leer mas
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
        </a>
    </div>

</section>

<section id="about-us">
    <div class="container">
        <div class="row title text-center">
            <h1 class="section-heading white">Desarrollo de aplicativos moviles</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="about-us">
                    <h3 class="white">Diseño y Desarrollo</h3>
                    <p class="white lead"><br />La idea es estar siempre a la vanguardia de desarrollo para aplicativos moviles bajo las diferentes tecnologías en el mercado.<br /></p>
                    <a class="page-scroll btn btn-white" href="#our-work">Tecnologias</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <img src="img/phone.png" alt="Phone">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="our-work">
    <div class="container">
        <div class="row title text-center">
            <h1 class="section-heading">Tecnologias</h1>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-xs-6">
                <a href="#" class="portfolio-box portfolio-1" data-toggle="modal" data-target=".portfolioModal1">
                    <div class="portfolio-box-spacer"></div>
                    <div class="portfolio-box-caption">
                        <h4 class="white">Project Title</h4>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-6">
                <a href="#" class="portfolio-box portfolio-2" data-toggle="modal" data-target=".portfolioModal2">
                    <div class="portfolio-box-spacer"></div>
                    <div class="portfolio-box-caption">
                        <h4 class="white">Project Title</h4>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-6">
                <a href="#" class="portfolio-box portfolio-3" data-toggle="modal" data-target=".portfolioModal3">
                    <div class="portfolio-box-spacer"></div>
                    <div class="portfolio-box-caption">
                        <h4 class="white">Project Title</h4>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-6">
                <a href="#" class="portfolio-box portfolio-4" data-toggle="modal" data-target=".portfolioModal4">
                    <div class="portfolio-box-spacer"></div>
                    <div class="portfolio-box-caption">
                        <h4 class="white">Project Title</h4>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-6">
                <a href="#" class="portfolio-box portfolio-5" data-toggle="modal" data-target=".portfolioModal5">
                    <div class="portfolio-box-caption">
                        <h4 class="white">Project Title</h4>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-6">
                <a href="#" class="portfolio-box portfolio-6" data-toggle="modal" data-target=".portfolioModal6">
                    <div class="portfolio-box-caption">
                        <h4 class="white">Project Title</h4>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-6">
                <a href="#" class="portfolio-box portfolio-7" data-toggle="modal" data-target=".portfolioModal7">
                    <div class="portfolio-box-caption">
                        <h4 class="white">Project Title</h4>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-6">
                <a href="#" class="portfolio-box portfolio-8" data-toggle="modal" data-target=".portfolioModal8">
                    <div class="portfolio-box-caption">
                        <h4 class="white">Project Title</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="row">
            <div class="modal-head">
                <button type="button" class="btn btn-default btn-close-modal" data-dismiss="modal"><i class="fa fa-chevron-left"></i></button>
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h2>Project Title</h2>
                    <p>A still duskier place is this, with such low ponderous beams above, and such old wrinkled planks beneath, that you would almost fancy you trod some old craft's cockpits, especially of such a howling night, when this corner-anchored old ark rocked so furiously.</p>
                    <ul class="list-inline item-details">
                        <li>
                            Client:
                            <strong>
                                <a href="#">Sneaky Themes</a>
                            </strong>
                        </li>
                        <li>
                            Service:
                            <strong>
                                <a href="#">Web Development</a>
                            </strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="row">
            <div class="modal-head">
                <button type="button" class="btn btn-default btn-close-modal" data-dismiss="modal"><i class="fa fa-chevron-left"></i></button>
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h2>Project Title</h2>
                    <p>A still duskier place is this, with such low ponderous beams above, and such old wrinkled planks beneath, that you would almost fancy you trod some old craft's cockpits, especially of such a howling night, when this corner-anchored old ark rocked so furiously.</p>
                    <ul class="list-inline item-details">
                        <li>
                            Client:
                            <strong>
                                <a href="#">Sneaky Themes</a>
                            </strong>
                        </li>
                        <li>
                            Service:
                            <strong>
                                <a href="#">Web Development</a>
                            </strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="row">
            <div class="modal-head">
                <button type="button" class="btn btn-default btn-close-modal" data-dismiss="modal"><i class="fa fa-chevron-left"></i></button>
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h2>Project Title</h2>
                    <p>A still duskier place is this, with such low ponderous beams above, and such old wrinkled planks beneath, that you would almost fancy you trod some old craft's cockpits, especially of such a howling night, when this corner-anchored old ark rocked so furiously.</p>
                    <ul class="list-inline item-details">
                        <li>
                            Client:
                            <strong>
                                <a href="#">Sneaky Themes</a>
                            </strong>
                        </li>
                        <li>
                            Service:
                            <strong>
                                <a href="#">Web Development</a>
                            </strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="row">
            <div class="modal-head">
                <button type="button" class="btn btn-default btn-close-modal" data-dismiss="modal"><i class="fa fa-chevron-left"></i></button>
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h2>Project Title</h2>
                    <p>A still duskier place is this, with such low ponderous beams above, and such old wrinkled planks beneath, that you would almost fancy you trod some old craft's cockpits, especially of such a howling night, when this corner-anchored old ark rocked so furiously.</p>
                    <ul class="list-inline item-details">
                        <li>
                            Client:
                            <strong>
                                <a href="#">Sneaky Themes</a>
                            </strong>
                        </li>
                        <li>
                            Service:
                            <strong>
                                <a href="#">Web Development</a>
                            </strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="row">
            <div class="modal-head">
                <button type="button" class="btn btn-default btn-close-modal" data-dismiss="modal"><i class="fa fa-chevron-left"></i></button>
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h2>Project Title</h2>
                    <p>A still duskier place is this, with such low ponderous beams above, and such old wrinkled planks beneath, that you would almost fancy you trod some old craft's cockpits, especially of such a howling night, when this corner-anchored old ark rocked so furiously.</p>
                    <ul class="list-inline item-details">
                        <li>
                            Client:
                            <strong>
                                <a href="#">Sneaky Themes</a>
                            </strong>
                        </li>
                        <li>
                            Service:
                            <strong>
                                <a href="#">Web Development</a>
                            </strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="row">
            <div class="modal-head">
                <button type="button" class="btn btn-default btn-close-modal" data-dismiss="modal"><i class="fa fa-chevron-left"></i></button>
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h2>Project Title</h2>
                    <p>A still duskier place is this, with such low ponderous beams above, and such old wrinkled planks beneath, that you would almost fancy you trod some old craft's cockpits, especially of such a howling night, when this corner-anchored old ark rocked so furiously.</p>
                    <ul class="list-inline item-details">
                        <li>
                            Client:
                            <strong>
                                <a href="#">Sneaky Themes</a>
                            </strong>
                        </li>
                        <li>
                            Service:
                            <strong>
                                <a href="#">Web Development</a>
                            </strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="row">
            <div class="modal-head">
                <button type="button" class="btn btn-default btn-close-modal" data-dismiss="modal"><i class="fa fa-chevron-left"></i></button>
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h2>Project Title</h2>
                    <p>A still duskier place is this, with such low ponderous beams above, and such old wrinkled planks beneath, that you would almost fancy you trod some old craft's cockpits, especially of such a howling night, when this corner-anchored old ark rocked so furiously.</p>
                    <ul class="list-inline item-details">
                        <li>
                            Client:
                            <strong>
                                <a href="#">Sneaky Themes</a>
                            </strong>
                        </li>
                        <li>
                            Service:
                            <strong>
                                <a href="#">Web Development</a>
                            </strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="row">
            <div class="modal-head">
                <button type="button" class="btn btn-default btn-close-modal" data-dismiss="modal"><i class="fa fa-chevron-left"></i></button>
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h2>Project Title</h2>
                    <p>A still duskier place is this, with such low ponderous beams above, and such old wrinkled planks beneath, that you would almost fancy you trod some old craft's cockpits, especially of such a howling night, when this corner-anchored old ark rocked so furiously.</p>
                    <ul class="list-inline item-details">
                        <li>
                            Client:
                            <strong>
                                <a href="#">Sneaky Themes</a>
                            </strong>
                        </li>
                        <li>
                            Service:
                            <strong>
                                <a href="#">Web Development</a>
                            </strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



